body{
    background-color: #fbfbfb;
    padding-bottom: 2rem;
}

nav{
    background-color: #08a32a;
    color: #ffffff;
    position: relative;
    padding-left: 8rem;
    height: 4.5rem;
}

.image-logo-navbar{
    width: 6rem;
    position: absolute;
    left: 1.5rem;
    top: 0.6rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

h1{
    font-size: 48px;
}
h2{
    color: #2f4858;
}
.background-image-heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
    background-image: url('assets/sorrento.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blurred-background-title {
      text-align: center;
      word-wrap: break-word;
      backdrop-filter: blur(10px) contrast(35%) brightness(1.8); 
      color: #2f4858;
      border-radius: 0.5rem;
      padding: 2rem 4rem;
      height: fit-content;
      margin: 4rem;
      max-width: 100%;
      font-weight: bold;
    }

.description-attraction-row, .weather-restourant-row{
    margin-top: 2.5rem;
}

.place-description, .weather-info, .restourant-info {
    margin-top: 2rem;
    width: 45rem;
}
.attractions-list, .other-location-list{
    width: 25rem;
    margin-left: 10rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    -webkit-box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.4); 
    box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.4);
}
.other-location-list{
    margin-top: -10rem;
}
.attraction-img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.list-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.list-group-item :hover{
    background-color: #2f4858;
    color: #ffffff;
    border-radius: 0.2rem;
}

.info-container{
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.4); 
    box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    
}

.day-weather{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}
.today{
    border: solid 3px #eaeaea;
    background-color: #fff;
}

.temperature-svg{
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restourant-img{
    width: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
}